@model NuevoHogar.ModeloDTO.UsuarioDTO

@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p> ¡Ingresa a nuestra comunidad para seguir protegiendo a los animalitos!</p>
</div>
<div class="form-vertical">
    <div class="form-inline">
        <div class="container">
            <form class="form-inline" asp-action="IniciarSesionBtn" asp-controller="Home">
                <div class="mx-auto form-group">
                    <div asp-validation-summary="ModelOnly">

                    </div>
                    <div asp-validation-for="NombreUsuario" class="text-danger">
                            
                    </div>
                    <input type="text" asp-for="NombreUsuario" class="form-control" placeholder="Ingresa usuario" required>
                    <div asp-validation-summary="ModelOnly">

                    </div>
                    <div asp-validation-for="Contrasenia" class="text-danger">
                            
                    </div>
                    <input type="password" asp-for="Contrasenia" class="form-control" placeholder="Ingresa contraseña" required>
                    <input type="submit" class="btn btn-primary b-none ml-2 border-0" value="Iniciar sesión">
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <div>¿No tienes cuenta? <a href="@Url.Action("RegistrarCuenta", "Cuenta")" class="link-primary">Registrate</a></div>
</div>